<div class="container">
    <div class="row">

        <div class="col-md-2">
            <mat-label class="labels">Academic Year</mat-label>
            <mat-select [(ngModel)]="selectedyear">
                <mat-option *ngFor="let year of academicYears" [value]="year">{{year}}</mat-option>
            </mat-select>
        </div>

        <div class="col-md-2">
            <mat-label class="labels">Semesters</mat-label>
            <mat-select name="terms" [(ngModel)]="terms">
                <mat-option *ngFor="let terms of termnumbers" [value]="terms">
                    Semester - {{terms}}
                </mat-option>
            </mat-select>
        </div>

        <div class="col-md-2" *ngIf="logged_princi">
                <mat-label class="labels">Select Department</mat-label>
                <mat-select name="dept" [(ngModel)]="princi_Department">
                    <mat-option *ngFor="let d of dept_names" [value]="d">
                        Department - {{d}}
                    </mat-option>
                </mat-select>
            </div>

        <div class="col-md-1" *ngIf="logged_student">
            <button class="btn btn-primary search search-btn" (click)="studentsearch();" [disabled]=clicked>
                <i class="fa fa-search ml-0"></i> Search
            </button>
        </div>

        <div class="col-md-1" *ngIf="logged_faculty">
            <button class="btn btn-primary search search-btn" (click)="facultysearch();" [disabled]=clicked>
                <i class="fa fa-search ml-0"></i> Search
            </button>
        </div>

        <div class="col-md-1" *ngIf="logged_hod">
            <button class="btn btn-primary search search-btn" (click)="hodsearch();" [disabled]=clicked>
                <i class="fa fa-search ml-0"></i> Search
            </button>
        </div>

        <div class="col-md-1" *ngIf="logged_princi">
            <button class="btn btn-primary search search-btn" (click)="princisearch();" [disabled]=clicked>
                <i class="fa fa-search ml-0"></i> Search
            </button>
        </div>

        <div class="col-md-6">

        </div>

        <div class="col-md-1">
            <button class="back-button" (click)="back_()" *ngIf="chart_visibility" style="float: right; margin: 10px;">
                <span class="fa fa-chevron-left"></span> Back</button>
        </div>

    </div>

    <div class="row">
        <hr>
    </div>

    <div class="row">

        <div class="spinner" *ngIf="showSpinner && (logged_student || logged_faculty || logged_princi || logged_hod)">
            <div class="sk-folding-cube" *ngIf="showSpinner">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>

        <div class="spinner" *ngIf="facSpinner ">
            <div class="sk-folding-cube" *ngIf="showSpinner">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>

        <div class="row" *ngIf="placement_offers && placement_offers.length > 0 && logged_student">
            <div class="col-md-2" *ngFor="let o of placement_offers">
                <div class="card-list">
                    <mat-card class="placement-card">
                        <mat-card-content>
                            <strong>Company</strong> : {{o[0]}}<br>
                            <strong>Role</strong> : Software Engineer<br>
                            <strong>Salary</strong> : {{o[1]}}
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>

        <div *ngIf="firstLevelChart && !error_flag && chart_visibility && !showSpinner &&logged_student">
            <p class="page-title"><b>{{title}}</b></p>
                <google-chart [data]='firstLevelChart' (chartSelect)="second_level($event)" data-toggle="modal"
                    data-target="#attdetail">
                </google-chart>
        </div>

        <div *ngIf="faculty_chart && !error_flag && fac_chart_visibility  && logged_faculty">
            <p class="page-title"><b>{{title}}</b></p>
                <google-chart [data]='faculty_chart' (chartSelect)="faculty_level($event)">  </google-chart>
        </div>

        <div class="col-md-2" *ngIf="logged_hod">
            <div class="text-left">
                <button class="btn btn-light btn-block text-left"
                    *ngFor="let faculty of faculty_names" (click)="getFacultyDetails($event.target.value)" value={{faculty[0]}}>{{faculty[1]}}
                </button>
            </div>
        </div>
        
        <div class="col-md-2" *ngIf="logged_princi">
            <div class="text-left">
                <button class="btn btn-light btn-block text-left"
                    *ngFor="let faculty of faculty_names" (click)="getFacultyDetails($event.target.value)" value={{faculty[0]}}>{{faculty[1]}}
                </button>
            </div>
        </div>

        <div class="col-md-10" *ngIf="( logged_hod || logged_princi ) && faculty_chart && !error_flag && fac_chart_visibility">
            <p class="page-title"><b>{{title}}</b></p>
            <google-chart [data]='faculty_chart' (chartSelect)="faculty_level($event)">  </google-chart>
        </div>

        <div *ngIf="error_flag && !showSpinner">
            <p class="page-title">{{error_message}}</p>
        </div>
    </div>
</div>
<!--pop up card-->
<div class="modal fade" id="attdetail" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Attendance Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>

                        <th>Subject:</th>
                        <th>classes conducted:</th>
                        <th>Attended:</th>
                    </tr>
                    <tr *ngFor="let a of attDetails">
                        <td>{{a[0]}}</td>
                        <td>{{a[1]}}</td>
                        <td>{{a[2]}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!--
<div class="modal fade" id="attdetail" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Attendance Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>

                        <th>Subject:</th>
                        <th>classes conducted:</th>
                        <th>Attended:</th>
                    </tr>
                    <tr *ngFor="let a of attDetails">
                        <td>{{a[0]}}</td>
                        <td>{{a[1]}}</td>
                        <td>{{a[2]}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>-->